//COLOR

$color-white: #fff;
$color-black: #000;

$color-grey-light: #ededed;
$color-grey-1: #989898;
$color-grey-2: #999;
$color-grey-3: #3E3E3E;


//GRID

$grid-width: 80%;
$gutter-vertical: 10rem;
$gutter-vertical-middle: 3rem;
$gutter-vertical-small: 1rem;
$gutter-horizontal: 6rem;